<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <span>
            <h3>{{localize "mcdm-rpg.label.heroic-resource"}}</h3>
            <input name="item.heroic-resource.one.name" type="text" value="{{item.heroic-resource.one.name}}"/>
        </span>
        <span>
            <h3>{{localize "mcdm-rpg.label.heroic-resource"}}</h3>
            <input name="item.heroic-resource.two.name" type="text" value="{{item.heroic-resource.two.name}}"/>
        </span>
    </div>
    <h2>{{localize "mcdm-rpg.label.description"}}</h2>
    <textarea name="item.description">{{item.description}}</textarea>
</form>
